<header>
    <div class="sideBar">
          
      <div id="menuSideBar" class="">
        <nav>
          <button class="menuBut" onclick="mobileMenu()">
             <div class="mobile-menu">
              <div class="line1"></div>
              <div class="line2"></div>
              <div class="line3"></div>
             </div>
          </button>
                
                <ul class="nav-list" id="nav-list">
                  <li  class="menu-element-level-one"id="menu-level-one">
                     <button onclick="levelOneMenu()">
                      Atendimento
                     </button>
                    <div id="sub-list">
                      <ul class="sub-list">
                         <li class= "menu-element"><a href="">Agendamentos</a></li>

                        <li class= "menu-element" id="solicitation"><a href="/admin/authorize">Solicitações</a></li>

                        <li class= "menu-element"><a href="/admin/authorize">Autorizar</a></li>
                         <li class= "menu-element"><a href="">Agendar</a></li>
                      </ul>
                    </div>
                   
                   </li>
                </ul>
              </nav>


          </div>
          <div class="divSideBarBut">
            <button value="" class="sideBarBut">
              <img src="icons/architecture_building_home_house_property_icon_123288.ico" alt="" >
            </button>
            <button onclick="sair()" class="sideBarBut">
              SAIR
            </button>
          </div>
      
    </div>

  </header>

  <section>

    <div class="toolBar">
      <h1 id="welcomeUser">
      
      </h1>
    </div>
    
  </section>

<script src="/js/script-p002.js"></script>